/*  ==========================================================================]
    Title:      Rota logistics styling 
    Design:     John Earl Hardesty
    Updated:    2020-08-01
    Notes:      Mobile styles first, breakpoints found at bottom
    ==========================================================================]
*/

/* global ----------------------------------------------------------- */
body {
    padding: 3rem 0em 0em;
    color: #5a5a5a;
    margin: 0em;
    overflow-x: hidden;
}
:root {
    --rota-black: #1e1e1e;
    --rota-gray: #404040;
    --rota-red: #eb3f3f;
}


/* navbar ----------------------------------------------------------- */
.navbar {
    box-shadow: 0px 0px 15px rgb(190,190,190);
}
.navbar a[href^=tel] {
  color: var(--rota-red) !important;
}


/* footer ----------------------------------------------------------- */
footer {
    margin: 2em 0em 0em;
    padding: 2em 1em 0.5em;
}
footer ul {
    margin: 0em 0em 1em;
    padding-left: 0em;
}
footer ul li {
    list-style-type: none;
    padding: 0.5em 0.5em 0.5em 0em;
}
footer ul li:before { 
    content: "\2583";
    font-weight: bold;
    font-size: 120%;
    left: 25px;
    color: var(--rota-red);
    position: relative;
    bottom: 23px;
}
footer ul li a,
footer ul li a:hover {
    color: var(--rota-gray);
    font-size: 120%;
    font-family: 'Nunito Sans', sans-serif;
    text-decoration: none;
}
footer img {
    width: 260px;
    margin-bottom: 0em;
    padding-bottom: 0em;
}
footer p {
    font-size: 90%;
    margin-top: -0.5em;
    padding-top: 0em;
    padding-left: 0.3em;
}
.footer-right {
    padding-left: 2em;
}
.footer-legal {
  margin: 0em auto;
  padding-left: 4em;
  color: white;
  background-color: var(--rota-gray);
}
.footer-legal .row div{
  margin: 1em auto 0.5em;
}
.footer-legal .row div+div {
  margin-bottom: 4em;
}
.footer-legal a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}
.footer-legal a:hover {
  text-decoration: underline;
}

/* headings --------------------------------------------------------- */
h2.home {
  color: var(--rota-red);
  font-family: 'Nunito Sans', sans-serif;
  font-size: 200%;
}
h2.contact {
  color: var(--rota-red);
  font-family: 'Nunito Sans', sans-serif;
  font-size: 150%;
}
h2.home-carriers {
  display: none;
  text-align: center;
}
h1 {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 315%;
  text-shadow: 0 0 20px var(--rota-gray);
  color: white;
}
h1.page-title {
  text-shadow: 0 2px 2px #999 !important;
    color: #eb3f3f;
}

/* homepage --------------------------------------------------------- */
/* masthead ----------------------------------------------- */
.card-img-overlay {
    padding: 0px; 
    margin: 0em auto;
    width: 100%;
    /*background-color: rgb(64,64,64,0.3);
    border-radius: 0px 0 10px 10px;*/
}
.low-grad {
    background: rgb(2,0,36);
    background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(2,0,36,0) 35%);
    }
.abbr-div {
    padding: 0em 0.5em;
}
.abbr-letter {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 315%;
    color: white;
    /* text-shadow: 0 5px 1px var(--rota-gray); */
    margin-bottom: 0em;
    padding-bottom: 0em;
}
.abbr-word {
    font-family: 'Nunito Sans', sans-serif;
    text-align: left;
    /* margin-top: 3.5em; */
    padding-top: 0em;
    padding-bottom: 0em;
    color: white;
}
.row-abbr {
    position: absolute;
    bottom: -0.5em;
}
.abbr-word a:hover {
    color: black;
}
.abbr-word span {
    border: 1px solid black;
    padding: 0.2em 0.5em;
}
.abbr-div div ul {
    margin-left: 0em;
    padding-left: 0em;
}
.abbr-div div ul li {
    list-style-type: none;
}
#listRail ,
#listOcean li,
#listTruck li,
#listAir li {
    margin-left: 0.5em;
}
.popover {
    opacity: 0.95;
}
.popover-body {
    box-shadow: 0px 2px 5px var(--rota-gray);
}
.popover-body ul {
    margin: 0em;
    padding-left: 0.5em;
}
.popover-body ul li {
    list-style-type: none;
}
.popover-body ul li:before { 
    content: "\2022";
    font-weight: bold;
    font-size: 120%;
    margin-left: -10px; 
    margin-right: 5px; 
    color: var(--rota-red);
}
/* mission ------------------------------------------------ */
.head-lead {
    text-align: left;
}
.homepage-title {
    font-size: 150%;
    margin-left: 4rem;
}
.marketing .row .lead {
    font-family: 'Quicksand', sans-serif;
    font-size: 110%;
}
/* carrier and shipper ------------------------------------ */
.carriers picture source, 
.carriers picture img {
    height: 200px;
}
.carriers .card-text {
    margin: auto 2em;
}
.carriers .card-title {
    font-size: 200%; 
    font-family: 'Quicksand', sans-serif; 
    text-shadow: 0 3px 4px rgb(80,80,80); 
    /*margin-bottom: 2.4em;*/
}
.carriers .card-text a{
    position: absolute;
    bottom: 0.5em;
    left: 50%;
    transform: translate(-50%, 0);
    width: 15em;
}
/* contact form ------------------------------------------- */
.homepage-form {
    background: var(--rota-gray); 
    margin: 1em 0em 0em;
    padding: 2em 0.8em;
}
.homepage-form h3, .homepage-form form label {
    font-family: 'Quicksand', sans-serif;
    color: white;
}
.homepage-form h3 {
    font-size: 120%;
    text-align: center;
}
.homepage-form ul {
    margin: 1em 0em 0em;
}
.homepage-form ul li {
    list-style-type: none;
    padding: 0.5em 0.5em 0.5em 0em;
}
.homepage-form ul li a {
    color: white;
}
.homepage-form ul li a i {
    color: var(--rota-red);
    padding-right: 0.5em;
}
.form-contact div,
.form-contact div ul,
.form-contact div ul li,
.form-contact div ul li a {
    margin-left: 0em;
    padding-left: 0em;
}
.form-submit {
  width: 50%;
}


/* multi-page ------------------------------------------------------- */
.homepage-icons {
    color: var(--rota-red);
    font-size: 250%;
    position: absolute;
    top: 0.15em;
}
.card {
    margin-bottom: 1em;
}
.card-shadow {
    margin-bottom: 1em;
    box-shadow: 0px 2px 5px rgb(200,200,200);
    background: rgb(240,240,240);
}
.btn-danger {
  background: var(--rota-red);
}
.btn-outline-danger {
  color: var(--rota-red);
}
a.external-link:hover::after,
footer div div ul li a:hover::after {
  margin-left: 5px;
  opacity: 1;
  visibility: visible;
}
a.external-link:after,
footer div div ul li a:after  {
  font-family: "Font Awesome 5 Free";
  content: "\f054";
  font-weight: 900;
  display: inline-block;
  vertical-align: baseline;
  margin-left: -20px;
  margin-right: 7px;
  opacity: 0;
  visibility: hidden;
  transition: .22s ease;
}
a.external-link:after {
  content: "\f35d";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}
address {
    font-weight: bold;
    color: var(--rota-gray);
}
.contacts li a {
    color: var(--rota-gray);
}
.contacts li a i {
    color: var(--rota-red);
}
.hidden { /* hides headings but allows screenreaders to use them */
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	width: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
}
.col-auto {
  flex-basis: 100%;
  width: 50%;
}
.lead-row .card-text {
  text-align: left;
}

/* tablet styling --------------------------------------------------- */
@media only screen
and (min-width: 750px) {
  .homepage-icons {
    position: absolute;
    top: -0.1em;
    left: 50%;
    transform: translate(-50%, 0);
    font-size: 400%;
  }
  .homepage-title {
    font-size: 150%;
    text-align: center;
    margin: 2.5em 0em 0em;
    padding-bottom: 0em;
  }
  h2.home-carriers {
    display: none;
  }
  footer .justify-content-center {
    justify-content: left !important;
  }
  .footer-legal {
    padding-left: 1.5em;
    padding-right: 1.5em;
  }
  .footer-legal .row div+div {
    text-align: right;
    margin-bottom: 2em;
  }
  footer .container-lg .row *:first-child {
    padding-left: 0em;
  }
  .abbr-letter {
    text-shadow: 0px 2px 2px black;
  }
  .row-abbr {
    position: absolute;
    bottom: 0;
    right: 1em;
  }
  .row-abbr .col-3 {
    padding-left: 5em;
  }
  .col-auto {
    flex-basis: auto;
  }
}


/* large display styling -------------------------------------------- */
@media only screen
and (min-width: 850px) {
  nav .form-inline a {
    position: absolute;
    right: 1em;
  }
  .abbr-div {
    width: 40rem;
  }
  .abbr-word {
    padding-top: 0em;
  }
  h2.home {
    font-size: 400% !important;
  }
  .lead-row{
    margin: 2em auto 4em;
  }
  .head-lead {
    text-align: right;
    font-size: 170%;
  }
  h2.home-carriers {
    display: block;
    text-align: center;
  }
  .carriers {
    max-width: 444px;
    max-height: 250px;
  }
  .carriers .card-text a{
    position: absolute;
    bottom: 0.5em;
    left: 50%;
    transform: translate(-50%, 0);
    width: 15em;
  }
  .homepage-form {
    padding: 2em 5em;
  }
  .form-contact {
    width: 85%;
    margin: 0em auto;
    padding: auto 0em;
  }
  .form-submit {
    width: 25%;
  }
  footer {
    padding: 2em 1em 0.5em;
  }
  footer .col-sm-4 {
    padding-left: 0em;
  }
  .footer-right {
    padding-left: 1em;
    /* shift col over without flexing */
    text-align: right; 
  }
  .card-narrow {
    width: 18rem;
  }
  .card-margin-bottom {
    margin-bottom: 1.1em;
  }
  .col-auto {
    flex-basis: auto;
    width: auto;
  }
  .lead-row .card-text {
    text-align: center;
  }
}


/* Dev backgrounds for rota buttons in homepage 
   used to style individual columns
   
   background: rgb(0,200,0,0.5);
   background: rgb(200,0,0,0.5);
   background: rgb(0,0,200,0.5); 
   background: rgb(200,0,200,0.5);
   */
