/* USTA Style Sheet                  */
/* R1 2023-05-19  Hardesty Digital   */


/* colors -------------------------- */
.usta-blue {
  color: #061069 !important;
}
.usta-blue-bg {
  background-color: #061069 !important;
}
.usta-red:hover {
  background-color: #fd022b !important;
}

/* a11y ---------------------------- */
/* hide from screens but remain for screenreaders */
.hide {
  border: 0;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip; rect(1px, 1px, 1px, 1px);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; 
}

/* masthead ------------------------ */
header {
  margin: 0;
  padding: 0;
}
.header-inner {
  background-image: url("USTA-grand.svg");
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: contain;
  width: 100%;
  height: 45rem;
  min-height: 20rem;
  padding: 1em 1em 0 0;
}

/* main content -------------------- */
.side-photo {
  width: 100%;
}
.feature-icon {
  width: auto;
  border-radius: 0.75rem;
  background-color: #061069;
  color: white;
}
.list-group-item, .list-group {
  margin-left: 0;
  padding-left: 0 !important;
}
.divider {
  width: 100%;
  height: 4rem;
  background-color: rgba(105, 105, 105, .3);
  border: solid rgba(205, 205, 205, .15);
  border-width: 1px 0;
  box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, .1), inset 0 0.125em 0.5em rgba(0, 0, 0, .15);
}
.display-6 {
  font-size: 1.5rem !important;
  padding: 0 0.25em 0.2em;
  text-align: center;;
}
svg.services {
  display: block;
  width: 92px;
  height: 92px;
  margin: 0.5em auto 0.2em;
}