/* Turquoise website styles ==================================== */
/* 2019-11-16 John Earl Hardesty */

/* globals --------------------------------- */
:root {
    /* colors */
    --color-turquoise: #30d5c8;
    --color-mail: rgb(81,38,20);
    --color-phone: rgb(15,84,27);
  }

/*
a:link {color: var(--color-turquoise);}
a:hover {background: var(--color-turquoise);color: white;}
*/

.logo {
    width: 100%;
}
.bg-turquoise {
    background: var(--color-turquoise);
}

#footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 10em;
    padding-top: 1.5em;
}

footer {
    padding-top: 0.5em;
}

/* footer example */
.footer-classic a, .footer-classic a:focus, .footer-classic a:active {
    color: #ffffff;
    text-decoration: none;
}


.nav-list li a:hover:after, a.external-link:hover::after {
    margin-left: 5px;
    opacity: 1;
    visibility: visible;
}

.nav-list {
    padding: 0;
    margin: 0;
}

.nav-list li {
    list-style: none;
    padding-top: 5px;
    padding-bottom: 10px;
}

.nav-list li a:after, a.external-link:after  {
    font-family: "Font Awesome 5 Free";
    content: "\f054";
    font-weight: 900;
    color: white ;
    display: inline-block;
    vertical-align: baseline;
    margin-left: -20px;
    margin-right: 7px;
    opacity: 0;
    visibility: hidden;
    transition: .22s ease;
}

a.external-link:after {
    content: "\f35d";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
}

.nav-fb a:hover i {color: #46b}
.nav-fb {font-size: 110%;}

.nav-home a:hover i,
.nav-about a:hover i,
.nav-contact a:hover i,
.nav-drivers a:hover i,
.nav-customers a:hover i {color: #128A80}

.footer-dark {
    background: #128A80;
    color: #31D6C8;
    width: 100%;
    left: 0;
    right: 0;
}